<style>
  .itemList{
    list-style-type: none;
    padding: 0px;
  }
  .itemBox {
    background: #eaea10;
    padding: 1vw;
    border-bottom: 1px solid #eaeaFF;
  }
  .searchString {
    text-align: center;
    padding: 2vh;
    background: #eaea22;
  }
  found-template{
    background: #eaea10;
    display: block;
  }
</style>
<found-template>
  <h1>Results ({{result.itemLoaded.length}})</h1>
<ul class="itemList">
  <li class="itemBox" ng-repeat="item in result.itemLoaded track by $index">
    <h4>{{item.name}}</h4>
    {{item.description}}
    <button class="btn btn-primary"
            ng-click="result.onRemove({index: $index})">
            Don't want this
    </button>
  </li>
</ul>
</found-template>
